.toc {
  background: #151515;
  border: 1px solid #333;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 6px;
}

.toc ul {
  list-style: none;
  padding-left: 1rem;
}

.toc a {
  color: #4db2ff;
}

body {
  background: black;
  color: white;
  font-family: sans-serif;
  padding: 40px;
}

a {
  color: cyan;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  color: cyan;
}

.post-card {
  border: 1px solid #ddd;
  padding: 8px;
  margin: 15px 0;
  border-radius: 8px;
  background: #151515;
}

.post-card h2 {
    margin: 0;
}

.post-card a {
    text-decoration: none;
    color: cyan;
}

.post-card a:hover {
    text-decoration: underline;
}

.post-date {
    color: #777;
    font-size: 0.9rem;
}

.post-description {
    margin-top: 8px;
    font-size: 1rem;
}
